[submodule "external_tools/google_trans_new"]
	path = external_tools/google_trans_new
	url = https://github.com/lushan88a/google_trans_new.git
[submodule "external_tools/psd-tools"]
	path = external_tools/psd-tools
	url = https://github.com/psd-tools/psd-tools.git
